* {
  font-family: 'Open Sans', serif;
}

div.jumbotron {
  background: url(/images/bl_and_white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: auto;
}

div.jumbotron .container {
  text-align: center;
  color: #ffffff;
  padding-top: 3em;
}

div.jumbotron .container h1 {
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding: .2em;
}

div.jumbotron .container h3 {
  margin-bottom: 10px;
  margin-top: -1px;
}

div.jumbotron img {
  margin: 1em auto 0 auto;
}

nav .glyphicon {
  color: #47474F;
  font-size: 1.1em;
}

nav a .glyphicon:hover {
  color: #008E97;
}

nav a .glyphicon:hover:visited {
  color: #F9423A;
}

nav i.fa {
  font-size: 1.3em;
}

div.container-fluid {
  background: url(/images/wbg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 1em;
  box-shadow: 10px 10px 10px #000000;
}

div.main div.container {
  color: #47474F;
  width: 60%;
}

div.main div.container.body {
  text-align: center;
}

div.main ul.experience {
  list-style: none;
  text-align: center;
  margin-left: -4em;
}

div.main ul.skills {
  margin-left: -4em;
  list-style: none;
  text-align: center;
}

div.main ul.skills li, ul.experience li {
  display: inline-block;
  padding-left: 1em;
}

div.title {
  text-align: center;
}

body {
  background: url(/images/bl_and_white.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background: url(/images/wbg1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-default #navbar-collapsible {
  text-align: center;
}

ul.nav {
  display: inline-block;
  float: none;
}

div .navbar-collapse {
  text-align: center;
}

nav li {
  display: inline;
  padding: 0em .8em;
  font-size: 1.1em;
}

nav li a, ul.experience li a {
  text-decoration: none;
  color: #47474F;
}

nav li a:hover, ul.experience li a:hover {
  color: #F9423A;
  text-decoration: none;
}

nav li a:visited:hover, ul.experience li a:visited:hover {
  color: #008E97;
  text-decoration: none;
}
